{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% block login_css %}
        {{ encore_entry_link_tags('login') }}
    {% endblock %}

    {% block login_js %}
        {{ encore_entry_script_tags('login') }}
    {% endblock %}
    <main>

    <div class="cont login">
        <div class="line">
            <div class="headline">
                <h1>Login</h1>
            </div>
            <div class="form">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <input type="email" class="input" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
                    <input type="password" class="input" placeholder="Password" name="password" id="inputPassword" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox">
                        <input type="checkbox" name="_remember_me">Remember me
                    </div>

                    <button class="submit-button" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
    </main>

{% endblock %}
