{% extends 'base.html.twig' %}

{% block title %}Povilas Zubrys{% endblock %}

{% block body %}
    {% block homepage_css %}
        {{ encore_entry_link_tags('homepage') }}
    {% endblock %}

    {% block homepage_js %}
        {{ encore_entry_script_tags('homepage') }}
    {% endblock %}
    <main>

        <!-- About -->
        <div class="container" id="about">
            <div class="row">
                <div class="col-12 headline">
                    <h1>First, let me introduce myself!</h1>
                </div>
                <div class="hero">
                    <div class="left">
                        <img class="image" src="{{ asset('build/images/povilas-zubrys-profile-picture.1a52c77c.webp') }}" alt="profile">
                        <div class="socials">
                            <a id="instagram" href="https://www.instagram.com/povilaszubrys/" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a id="github" href="https://github.com/PovilasZubrys" target="_blank"><i class="fab fa-github-square"></i></a>
                            <a id="linkedin" href="https://www.linkedin.com/in/povilas-zubrys-3315161b9/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <p>Hey! I am a junior developer! I love everything IT related, from hardware to software, love every bit of it! Apart from IT, I also love snowboarding/skiing, motorcycles. So, we can meet on the slopes, on the road or in the office nerding about new IT stuff 🤩</p>
                </div>
            </div>
        </div>

        <!-- Projects -->
        <div class="container projects" id="projects">
            <div class="row">
                <div class="col-12 headline">
                    <h1>My project gallery</h1>
                </div>
                <div class="col-12" style="text-align: center">
                    <div>
                        <img class="image" src="{{ asset('build/images/notfound.d87bc71e.webp') }}" alt="">
                    </div>
                    <h2>
                        Oh no! It's so empty in here!
                    </h2>
                    <p>
                        But do not worry my friend! I am working on populating this empty void of space!
                    </p>
                </div>
            </div>
        </div>

        <!-- Contact form -->
        <div class="container" id="contact">
            <div class="row">
                <div class="headline">
                    <h1>Contact me through email</h1>
                </div>
                <div class="form">
                    <form name="contact" method="POST">
                        <input class="input" placeholder="Email" id="email" name="email" type="text" required>
                        <input class="textarea" placeholder="Name" name="name" name="name" type="text" required>
                        <textarea class="textarea" placeholder="Message" name="message" name="message" cols="30" rows="10" required></textarea>
                        <p class="antispam">Leave this empty: <input type="text" name="url" /></p>

                        {# Flash messages #}
                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success" role="alert">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning">
                            {{ message }}</p>
                        </div>
                        {% endfor %}

                        <button class="submit-button" type="submit">Send!</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <div class="container footer">
            <div class="row">
                <div class="left">
                    <div class="headline">
                        <h2>Links</h2>
                    </div>
                    <a href="#top">Home</a>
                    <a href="#about">About me</a>
                    <a href="#projects">Projects</a>
                    <a href="#contact">Contact</a>
                </div>
                <div class="right">
                    <div class="headline">
                        <h2>Socials</h2>
                    </div>
                    <a href="https://github.com/PovilasZubrys" target="_blank"><i class="fab fa-github-square"></i>Github profile</a>
                    <a href="https://www.linkedin.com/in/povilas-zubrys-3315161b9/" target="_blank"><i class="fab fa-linkedin"></i>Linked In</a>
                    <a href="https://www.instagram.com/povilaszubrys/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
                </div>
                <a id="back-to-top" href="#top" class="back-to-top">
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </div>
        </div>
    </footer>
{% endblock %}
