{% extends './admin/index.html.twig' %}

{% block title %}Projects list{% endblock %}
{% block body %}
    {% block projects_css %}
        {{ encore_entry_link_tags('projects') }}
    {% endblock %}

    {% block projects_js %}
        {{ encore_entry_script_tags('projects') }}
    {% endblock %}
<main>

    <div class="container">
        <div class="row">
            <div class="headline">
                <h1>Currently added projects</h1>
            </div>

            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Id</div>
                    <div class="col col-2">Title</div>
                    <div class="col col-3">Url</div>
                    <div class="col col-4">Actions</div>
                </li>
                {% for project in projects %}
                <li class="table-row">
                    <div class="col col-1" data-label="Id">{{ project.id }}</div>
                    <div class="col col-2" data-label="Title">{{ project.title }}</div>
                    <div class="col col-3" data-label="Url">{{ project.url }}</div>
                    <div class="col col-4" data-label="Actions">
                        <div class="buttons">
                            <a class="button" href="/admin/projects/view/{{ project.id }}"><i class="fa-solid fa-eye"></i></a>
                            <a href="/admin/projects/edit/{{ project.id }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="/admin/projects/delete/{{ project.id }}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
{% endblock %}